.bestcommunity {
    padding-top: 20px;
    margin: 0px 15px 5px 15px;
}

.bestcommunity-list, .other-communities {
    margin-bottom: 20px;
}

h2 {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.bestcommunity-item {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: space-between;

    flex: 0 0 100%;
    scroll-snap-align: start;
    height: auto;

    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    
    margin-bottom: 10px;
    
    padding: 20px 20px 20px 27px;
}

.bestcommunity-item.best {
    background-color: #fdf2e4;
}

.bestcommunity-banner {
    background-color: #020265;
    position: absolute;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    height: 100%;
    width: 10px;
    left: 0;
    bottom: 0;
}

.bestcommunity-banner.best {
    background-color: #9f0b0b;
}

.bestcommunity-header {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 0px 0px 5px 0px;
}

.profile-image {
    margin-right: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-icon {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    border: 2px solid #ffffff;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}


.bestcommunity-profile {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.bestcommunity-info {
    margin: 10px 0px;
}

.bestcommunity-info strong {
    font-size: 1.0em;
}

.bestcommunity-info .score-icon {
    width: 1.0em;
    height: 1.0em;
    margin: 0px;
    margin-right: 3px;
}

.bestcommunity-info span {
    font-size: 0.9em;
}

.bestcommunity-item p, strong {
    margin: 0;
    font-size: 0.9em;
}

.bestcommunity-item .bestcommunity-current-info {
    margin-top: 5px;
}

.bestcommunity-item .last-commit {
    font-size: 0.7em;
    padding-left: 10px;
    color: #d2641b;
    font-family: 'Pretendard-Medium', Arial, sans-serif;
}

.bestcommunity-item .location {
    margin-top: 5px;
    font-size: 0.8em;
}

.commits {
    text-align: left;
}

.bestcommunity-item .bestcommunity-members {
    margin-left: 0;
    padding-left: 0;
    margin-top: 10px;
}

.bestcommunity-item .bestcommunity-members-title {
    font-size: 0.8em;
    font-family: 'Pretendard-Medium', Arial, sans-serif;
}


.members-list {
    display: flex;
    justify-content: start;
    align-items: center;
    background-color: transparent;
    padding-top: 10px;
    margin: 0;
    flex-wrap: wrap;
}

.members-list .profile-icon.member {
    margin-right: 3px;
    width: 35px;
    height: 35px;
    border: 2px solid #ffffff;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.member-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 5px;
}

.member-id {
    font-family: 'Pretendard-SemiBold', Arial, sans-serif;
    margin-top: 5px;
    font-size: 0.5em;
    color: #777;
    width: 44px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
}
  