body {
    background-color: #f5f5f5 !important; /* 강제로 적용 */
}

.detail-page {
    margin-top: 60px;
    padding: 5px;
    background-color: transparent;
    position: relative; 
}

.detail-scroll-content {
    width: 100%;
    background-color: transparent;
    max-width: 768px;
    overflow-x: hidden;
    overflow-y: hidden;
    -ms-overflow-style: none;   /* IE */ 
    scrollbar-width: none;      /* Firefox */
}

.detail-scroll-content::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera, Edge */
}

.detail-header-box {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    justify-self: center;
    z-index: 0;

    width: calc(100% - 30px);
    margin: 5px 15px;
    padding: 10px 0px 15px 0px;
    background-color: #ffffffd5;
    border-radius: 10px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.detail-header {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    justify-self: center;
    z-index: 1;
    height: 60px;
    padding: 0px 20px;
    max-width: 768px;
}

.detail-profile-image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.detail-profile-icon {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    border: 2px solid #ffffff;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}

.detail-info {
    margin-left: 15px;
    margin-right: 20px;
}

.detail-main-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 0px;
}

.detail-main-info .detail-score-icon {
    width: 1.0em;
    height: 1.0em;
    margin-right: 3px;
    vertical-align: middle;
    box-sizing: border-box;
}

.detail-main-info h2 {
    font-size: 1.0em;
    vertical-align: middle;
    font-family: 'Pretendard-SemiBold', Arial, sans-serif;
    font-weight: normal;
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.detail-sub-info p {
    margin: 0;
    font-size: 0.9em;
    vertical-align: middle;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.detail-header-icons span {
    margin-right: 5px;
    font-size: 1.0em;
}

.detail-header-info {
    margin-top: 5px;
}

.detail-header-info p, strong {
    margin: 0;
    font-size: 0.9em;
    vertical-align: middle;
}

.detail-score-icon {
    width: 1em;
    height: 1em;
    vertical-align: middle;
}

.detail-banner {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-self: center;
    justify-content: center;
    align-items: center;
    z-index: 1;
    padding: 10px 0px 10px 0px;
    margin: 0px 15px 15px 15px;
    border-radius: 10px;
    background-color: #ffded27b;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    height: 45px;
    width: calc(100% - 30px);
    max-width: 768px;
}

.detail-banner p {
    margin: 0;
    font-size: 0.9em;
    vertical-align: middle;
}

.detail-banner .detail-button {
    margin-top: 2px;
    font-size: 0.8em;
    vertical-align: middle;
    color: #555;
}

.detail-primary-members {
    margin-left: 0;
    padding: 0px 20px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    justify-self: center;
    z-index: 1;
}

.detail-primary-members-title, .detail-medals-title {
    font-size: 0.8em;
    font-family: 'Pretendard-SemiBold', Arial, sans-serif;
    font-weight: normal;
    margin: 0;
    margin-left: 0px;
}


.detail-primary-members-list {
    display: flex;
    justify-content: start;
    align-items: center;
    background-color: transparent;
    padding-top: 10px;
    margin-left: 15px;
    flex-wrap: wrap;
}

.detail-primary-members-list .detail-primary-profile-icon.detail-primary-member {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background: linear-gradient(15deg, rgb(231, 96, 177), rgb(253, 234, 109), rgb(178, 152, 255));
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    padding: 3px;
    background-color: transparent;
}


.detail-primary-member-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 5px;
}

.detail-primary-member-id {
    font-family: 'Pretendard-SemiBold', Arial, sans-serif;
    margin-top: 5px;
    font-size: 0.5em;
    color: #777;
    width: 44px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
}

.detail-medals-title {
    margin-top: 20px;
    padding: 0px 20px;
}

.detail-medals {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 10px 0px 5px 0px;
    padding: 0px 20px;
}

.detail-medals .detail-score-icon {
    width: 1.4em;
    height: 1.4em;
    vertical-align: middle;
    margin: 0px 0.2em;
}


.detail-community-members {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-self: center;
    justify-content: flex-start;
    align-items: center;
    z-index: 1;
    padding: 0px 0px 10px 0px;
    margin: 0px 0px;
    border-radius: 10px;
    background-color: transparent;
    height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
    width: calc(100% - 30px);
    max-width: 768px;
   
    -ms-overflow-style: none;   /* IE */ 
    scrollbar-width: none;      /* Firefox */
}

.detail-community-members::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera, Edge */
}

.detail-members-title {
    font-size: 1.0em;
    vertical-align: middle;
    font-family: 'Pretendard-SemiBold', Arial, sans-serif;
    font-weight: normal;
    text-align: left;
    margin: 0px 15px 10px 15px;
}

.detail-members-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: calc(100% - 30px);
    justify-self: center;
}

.detail-member-item {
    display: flex;
    align-items: flex-start;
    background-color: #fff;
    border-radius: 10px;
    width: 100%;
    padding: 10px;
    padding-top: 15px;
    padding-bottom: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.detail-member-item:hover {
    background-color: #f0f0f0;
}

.detail-profile-icon.detail-member {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 15px;
    border: 2px solid #ddd;
}

.detail-member-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.detail-member-id {
    display: flex;
    flex-direction: column;
    font-size: 0.9em;
    font-weight: bold;
}

.detail-member-id strong {
    color: #777;
    font-size: 0.8em;
}

.detail-member-introduce {
    font-size: 0.8em;
    color: #777;
    margin-top: 5px;
    margin-right: 5px;
}

.detail-body {
    position: relative;
    justify-self: center;
    z-index: 1;
    padding: 5px 0px 0px 0px;
    margin: 0px 15px;
    background-color: transparent;
    width: calc(100% - 30px);
    max-width: 768px;
}

.detail-body h2 {
    font-size: 1.0em;
    vertical-align: middle;
    font-family: 'Pretendard-SemiBold', Arial, sans-serif;
    font-weight: normal;
}

.detail-active, .detail-boxes {
    width: 100%;
    box-sizing: border-box;
    padding-bottom: 10px;
}

.detail-card {
    background-color: #fff;
    width: calc(100% - 30px);
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 15px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    height: 110px;
}

.detail-card.commits { 
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.detail-card p, strong, span {
    margin: 5px 0 0 0;
    font-size: 0.8em;
    vertical-align: middle;
    color: #555;
}

.detail-card strong {
    color: #777;
}

.detail-card b {
    color: #000000dc;
    font-weight: normal;
    font-family: 'Pretendard-Medium', Arial, sans-serif;
}

/* .detail-card .detail-commits {
    
} */

.detail-commits .detail-piedata-commits {
    font-size: 0.9em;
}

.detail-card .piechart {
    margin-left: 0px;
}

.detail-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}

.detail-grid .detail-card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 10px;
}

